
#contact{

    width: 100%;
    height: 400px;
    display: flex;
    justify-content:space-between ;
    background-color: lightblue;

}

#form_box{

    width: 50%;
    height:300px;
    margin: auto;
    background-color: rgb(147, 175, 115);
    

}

#form_box>form>input{
    display: block;
    margin: auto;
    margin-top: 20px;
    width: 70%;
    height: 20px;
}

#form_box>form>textarea{
    display: block;
    margin: auto;
    margin-top: 20px;
    width: 70%;
    height: 40px;
}
#form_box>form>button{

    display: block;
    margin: auto;
    margin-top: 20px;
    width: 50%;
    height: 30px;

}


















#mail{

    width: 200px;
    height: 200px;
   
}

#mail>a>img{

    width: 100px;
    height: 100px;
}
#phone{
    width: 200px;
    height: 100px;
   
}

#phone>img{
    width: 100px;
    height: 100px;
}


#linkedin{
    width: 100px;
    height: 100px;
  
}

#github{
    width: 100px;
    height: 100px;
 
}

#github>a>img{

    width: 100px;
    height: 100px;
}