* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;

}

html {
    scroll-behavior: smooth;
}



#contact {
    width: 100%;
    height: 100%;
    background: #080808;
    color: #fff;
    padding-top: 50px;
}


.container {
    padding: 10px 10%;

}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}



.btn {
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid rgb(224, 224, 233);
    padding: 14px 50px;
    text-decoration: none;
    border-radius: 6px;
    color: rgb(54, 62, 182);
    transition: 0.5s;

}

.btn2:hover {
    transform: translateY(-5px);
    color: rgb(139, 154, 168);
}

.contact-left {
    width: 40%;
    flex-basis: 45%;
}

.contact-ryt {
    width: 60%;
    flex-basis: 55%;
}

.contact-left p {
    margin-top: 30px;
}

.contact-left p i {

    margin-right: 15px;
    font-size: 25px;
}


.social-icons {
    margin-top: 30px;
}

.social-icons a {
    text-decoration: none;
    font-size: 27px;
    margin-right: 15px;
    margin-top: 10px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a span {

    text-decoration: none;
    font-size: 22px;
    margin-right: 10px;
    margin-top: 10px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover {
    color: rgb(0, 174, 255);

}



.btn.btn2 {
    display: inline-block;
    background: rgb(98, 177, 187);
    color: black;
}

.contact-ryt form {
    width: 100%;

}

form input,
form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 10px;
    margin: 10px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;

}

form .btn2 {
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}


#footer {
    width: 100vw;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
}

nav .fas {
    display: none;
}

/* ================Media query======================= */

@media only screen and (max-width:990px) {


    #contact {
        padding: 20%;

    }



    .contact-left,
    .contact-ryt {
        margin: auto;
        flex-basis: 100%;

    }


}

@media only screen and (max-width:580px) {


    #contact {
        padding: 10%;

    }

    .contact-left {

        flex-basis: 50%;
    }

    .contact-ryt {
        flex-basis: 50%;
    }


    .contact-left,
    .contact-ryt {
        margin: auto;
        flex-basis: 100%;

    }

    .social-icons a span {

        flex-basis: 100%;
        font-size: 15px;

    }

    .copyright {
        font-size: 14px;
    }
}