* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  size-adjust: var(100%);
}


#home {

  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 20vw 80vw;
  grid-template-rows: 30% 70%;

  padding-top: 50px;
  grid-template-areas: "left right"
    "left about";
}

#home_left {


  grid-area: left;
  display: flex;
  align-items: center;
  background-color: darkslategrey;
}



#home_img {
  display: block;
  margin: auto;
  padding: 2px;
  width: 180px;
  height: 180px;
  border-radius: 50%;
 
}

#home_right {
  grid-area: right;

  display: flex;
  align-items: center;
  margin: auto;
}

#about {
  grid-area: about;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
  align-items: center;

}

#about_card {
  width: 60%;

  flex-wrap: wrap;

  color: #97b695;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 25px;
  overflow: hidden;
}

#resume {
  text-align: center;
  width: 180px;
  height: 50px;
  font-size: 35px;
  font-weight: 400;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(48, 75, 194);

  border-radius: 10px;
  padding: 8px;
}

#resume>img {
  display: block;
  margin-left: 4px;
  width: 40px;
  height: 45px;
}

#download_resume {
  text-decoration: none;
}

#wrap_typed {
  display: flex;
  align-items: center;
  justify-content: center;


}

.wrapper {
  display: inline-flex;

}


.wrapper .dynamic_txt {

  height: 60px;

  line-height: 60px;
  overflow: hidden;

}

.dynamic_txt li {
  color: rgb(231, 224, 218);
  list-style: none;
  font-size: 40px;
  font-weight: 500;

  position: relative;
  top: 0;
  animation: slides 5.6s steps(2) infinite;

}

.dynamic_txt li span {
  position: relative;
}

.dynamic_txt li span::after {

  content: "";
  position: absolute;
  width: 100%;
  height: 120%;
  left: 0;
  background: #1c2b2b;
  border-left: 1px solid rgb(247, 240, 240);
  animation: typing 2.8s steps(20) infinite;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes typing {
  100% {
    left: 110%;

  }

  0% {
    right: -110%;

  }


}

@keyframes slides {
  100% {

    top: -135px;
  }


}


/* ================================Medium Screen======================== */

@media all and (max-width:990px) {

 

  #home {

    height: auto;
    grid-template-columns: 100%;
    grid-template-rows: 25vh 25vh 50vh;
    grid-template-areas:
      "middle"
      "top"
      "about";
  }

  #home_left {
    width: 100%;
    grid-area: top;


  }

  #home_right {
    width: 100%;
    grid-area: middle;
    display: grid;
    justify-content: center;
    align-items: center;
  }

  #about {
    width: 100%;
    grid-area: about;
  }

  #about_card {
    width: 90%;
    padding: 10px;

  }

  #home_img {
    width: 150px;
    height: 150px;

  }


  .wrapper .dynamic_txt {


    height: 44px;

    line-height: 44px;


  }

  .dynamic_txt li {

    font-size: 32px;
    font-weight: 400;


  }


  .dynamic_txt li span::after {

    width: 100%;
    height: 120%;

  }

  @keyframes typing {
    100% {
      left: 110%;

    }


  }

  @keyframes slides {
    100% {

      top: -95px;
    }


  }


}

/* ============================Small Screen======================================== */

@media all and (max-width:580px) {



  #home {


    grid-template-columns: 100%;
    grid-template-rows: 25vh 25vh 50vh;
    grid-template-areas:
      "middle"
      "top"
      "about";
  }

  #home_left {
    width: 100%;
    grid-area: top;


  }

  #home_right {
    width: 100%;
    grid-area: middle;
  }

  #about {
    width: 100%;
    grid-area: about;
  }

  #about_card {
    width: 90%;
    padding: 2px;
  }

  #about_card>h2 {
    font-size: 15px;
    font-weight: normal;
  }

  #home_img {
    width: 120px;
    height: 120px;

  }


  .wrapper .dynamic_txt {


    height: 35px;

    line-height: 35px;


  }

  .dynamic_txt li {

    font-size: 23px;
    font-weight: 300;


  }


  .dynamic_txt li span::after {

    width: 100%;
    height: 120%;

  }

  @keyframes typing {
    100% {
      left: 110%;

    }


  }

  @keyframes slides {
    100% {

      top: -75px;
    }


  }


}