/* 
#79031d  #d08856  #013328 #2d3e43 #596235  #d96846 #344648 #2F4F4F; */

#container {
    margin: 0%;
    border: 0px;
    padding: 0px;
    width: 100%;
    height: auto;
    background-color: #1c2b2b;

}

#container1 {
width: 100vw;
height: auto;
background-color: #000;
max-width: 100%;
}
