* {
    
    padding: 0%;
    margin: 0%;
}

#container{
    margin: 0%;
    border: 0px;
    padding: 0px;
    width: 100%;
    height: auto;
}

/*===================================== Full Screen =================================================*/


#navbar {
    width: 100%;
    height: 40px;
    border: 1px solid rgb(165, 72, 29);
    display: flex;
    justify-content: space-between;
    position: fixed;
    background-color: rgb(80, 46, 22);
    z-index: 1;
    
}


#navabar a{
    color: rgb(73, 42, 42);
}

#menu {
    flex-wrap: wrap;
    border: 1px solid green;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    
}

#menu>div{
    margin: auto;
    border: 3px solid rgb(71, 25, 56);
    padding: 2px;
}


#menu>div>a {

    font-size: 20px;
    font-weight: bolder;
    color: white;


}

@media all  and  (max-width:580px) {
    #menu {
    
        width: 80%;
      
    }
    #menu>div>a {

        font-size: 15px;
       
    
    
    }
}

/* 
#about {

    width: 100%;
    height: 500px;
}

#skill {
    width: 100%;
    height: 500px;

}

#work {

    width: 100%;
    height: 500px;
}

#contact {

    width: 500px;

    margin: auto;
    display: flex;
    justify-content: space-evenly;
}

 */





