* {
    
    padding: 0%;
    margin: 0%;
}
/* #79031d  #d08856  #013328 #2d3e43 #596235  #d96846 #344648 #2F4F4F;*/

body{

    background-color:#1c2b2b;
    height: max-content;
}
#container{
    margin: 0%;
    border: 0px;
    padding: 0px;
    width: 100%;
    height: auto;
  background-color:#1c2b2b;

 
   
}



#navbar {
    width: 100%;
    height: 60px;

    display: flex;
    justify-content: space-between;
    padding-left: 15%;
    padding-right: 15%;;
    position: fixed;
    background-color:#000e0b;
    z-index: 1;
    
}


#navabar a{
    color: rgb(73, 42, 42);
}

#menu {
   
   
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    
}

#menu>div{
    margin: auto;

    padding: 2px;
}


#menu>div>a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
    color: rgb(219, 200, 200);


}

@media all  and  (max-width:580px) {
    #menu {
    
        width: 80%;
      
    }
    #menu>div>a {

        font-size: 15px;
       
    
    
    }
}

/* 
#about {

    width: 100%;
    height: 500px;
}

#skill {
    width: 100%;
    height: 500px;

}

#work {

    width: 100%;
    height: 500px;
}

#contact {

    width: 500px;

    margin: auto;
    display: flex;
    justify-content: space-evenly;
}

 */





