* {
    margin: 0;

    padding: 0;

    font-family: 'Poppins', sans-serif;

    box-sizing: border-box;

}

html {

    scroll-behavior: smooth;

}

body {

    background-color: #101010;
    color: #fff;

}


nav {
    width: 100%;
    height: 40px;
    padding: 0 10px 0 10px;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 1;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    flex-wrap: wrap;
    box-shadow: rgba(226, 220, 220, 0.15) 1.95px 1.95px 2.6px;
}

.logo {

    width: 50px;
    height: 50px;
    margin-right: 15px;
}

nav ul li {

    display: inline-block;

    list-style: none;

    margin: 10px 20px;

}

nav ul li a {

    color: #fff;

    text-decoration: none;

    font-size: 18px;

    position: relative;

}

nav ul li a::after {

    content: '';

    width: 0;

    height: 3px;

    background: rgb(0, 183, 255);

    position: absolute;

    left: 0;

    bottom: -6px;

    transition: 0.5s;

}


#sidemenu {}

nav ul li a:hover::after {

    width: 100%;

}


nav .fas {

    display: none;

}

@media only screen and (max-width:632px) {

    nav .fas {

        display: block;

    }

    nav ul {

        background: darkslategrey;

        position: fixed;

        top: 0;

        right: -200px;

        width: 200px;

        height: 100vh;

        padding-top: 50px;

        z-index: 2;

        transition: right 0.5s;

    }

    nav ul li {

        display: block;

        margin: 25px;

    }

    nav ul .fas {

        position: absolute;

        top: 25px;

        left: 25px;

        cursor: pointer;

    }
}